/*
* 1. CREATE DATABASE
* */
USE [master]
GO
IF EXISTS ( SELECT  *
            FROM    sys.databases
            WHERE   NAME = 'RecruitmentProcessSystem' ) 
    BEGIN
        DROP DATABASE RecruitmentProcessSystem
    END
GO
CREATE DATABASE RecruitmentProcessSystem
GO
USE RecruitmentProcessSystem
GO

/*
* 2. CREATE TABLE
* */
CREATE TABLE Department
(
	DepartmentID NVARCHAR(10) PRIMARY KEY NOT NULL,
	[Name] NVARCHAR(256) NOT NULL,
	Email NVARCHAR(256),
	PhoneNumber NVARCHAR(16),
	LeaderName NVARCHAR(256),
	[Description] NVARCHAR(MAX)	
)

GO

CREATE TABLE Employee
(
	EmployeeID NVARCHAR(10) PRIMARY KEY NOT NULL,
	DepartmentID NVARCHAR(10) REFERENCES Department(DepartmentID) NOT NULL,
	FirstName NVARCHAR(256) NOT NULL,
	LastName NVARCHAR(256) NOT NULL,
	Gender BIT DEFAULT 1,
	DOB DATETIME,
	PhoneNumber NVARCHAR(16),
	Email NVARCHAR(256) UNIQUE NOT NULL,
	[Address] NVARCHAR(1000),
	Position NVARCHAR(256)
)

GO

CREATE TABLE Account
(
	UserName NVARCHAR(128) PRIMARY KEY NOT NULL,
	EmployeeID NVARCHAR(10) REFERENCES Employee(EmployeeID) UNIQUE NOT NULL,
	[Password] NVARCHAR(128) NOT NULL DEFAULT 'e10adc3949ba59abbe56e057f20f883e',
	IsChangedPassword BIT DEFAULT 0		
)

GO

CREATE TABLE [Role]
(
	RoleName NVARCHAR(256) PRIMARY KEY NOT NULL
)

GO

CREATE TABLE RoleOfAccount
(
	UserName NVARCHAR(128) REFERENCES Account(UserName) NOT NULL,
	RoleName NVARCHAR(256) REFERENCES [Role](RoleName) NOT NULL,
	Constraint PK_RoleOfAccount PRIMARY KEY(UserName, RoleName)
)

GO

CREATE TABLE Vacancy
(
	VacancyID NVARCHAR(10) PRIMARY KEY NOT NULL,
	DepartmentID NVARCHAR(10) REFERENCES Department (DepartmentID) NOT NULL,
	Title NVARCHAR(256) NOT NULL,
	CreatedDate DATETIME,
	[Status] INT DEFAULT 0,
	NumberRequirement INT,
	Position NVARCHAR(256),
	WorkingPlace NVARCHAR(256),
	WorkType NVARCHAR(256),
	MinimumSalary FLOAT,
	MaximumSalary FLOAT,
	[Description] NVARCHAR(MAX),
	SkillRequirement NVARCHAR(MAX),
	Entitlement NVARCHAR(MAX),
	MinimumAge INT,
	MaximumAge INT,
	Gender BIT,
	Degree NVARCHAR(256),
	YearOfExperience INT,
	ProbationaryPeriod NVARCHAR(256),
	Deadline DATETIME	
)

GO

CREATE TABLE Applicant
(
	ApplicantID NVARCHAR(10) PRIMARY KEY NOT NULL,
	FirstName NVARCHAR(256) NOT NULL,
	LastName NVARCHAR(256) NOT NULL,
	Gender BIT DEFAULT 1,
	DOB DATETIME,
	PhoneNumber NVARCHAR(16),
	Email NVARCHAR(256) UNIQUE NOT NULL,
	[Address] NVARCHAR(1000),
	[Status] INT DEFAULT 0,
	SalaryRequirement FLOAT,
	[Language] NVARCHAR(256),
	YearOfExperience INT,
	Degree NVARCHAR(256),
	CreatedDate DATETIME,
	Skill NVARCHAR(MAX),
	Award NVARCHAR(MAX)
)

GO

CREATE TABLE Interview
(
	InterviewID NVARCHAR(10) PRIMARY KEY NOT NULL,
	EmployeeID NVARCHAR(10) REFERENCES Employee (EmployeeID),
	ApplicantID NVARCHAR(10) REFERENCES Applicant (ApplicantID) NOT NULL,
	VacancyID NVARCHAR(10) REFERENCES Vacancy (VacancyID) NOT NULL,
	[Status] INT DEFAULT 0,
	AVStatus INT DEFAULT 0,
	StartedTime DATETIME,
	EndedTime DATETIME
)

/*
* 3. INSERT DUMP DATA
* */
-- DEPARTMENT TABLE --
INSERT INTO Department
VALUES
(
	N'D0001',
	N'IT Department',
	N'itdep@gmail.com',
	N'034921838',
	N'Do Hoang',
	N''
)
GO
INSERT INTO Department
VALUES
(
	N'D0002',
	N'HRD Department',
	N'hrddep@gmail.com',
	N'034437580',
	N'Bach Luong',
	N''
)
GO
INSERT INTO Department
VALUES
(
	N'D0003',
	N'Business Department',
	N'businessdep@gmail.com',
	N'034876203',
	N'Trinh Tung',
	N''
)
GO
-- END --

GO

-- EMPLOYEE TABLE --
INSERT INTO Employee
VALUES
(
	N'E0000',
	N'D0001',
	N'Do',
	N'Hoang',
	1,
	N'',
	N'',
	N'admin@fpt.aptech.ac.vn',
	N'',
	N'Master Chief'
)
GO
INSERT INTO Employee
VALUES
(
	N'E0001',
	N'D0002',
	N'Do',
	N'Hoang',
	1,
	'11-25-1990',
	N'0974422919',
	N'hoangdp_c00473@fpt.aptech.ac.vn',
	N'Hoang Mai, Ha Noi',
	N'Master Chief'
)
GO
INSERT INTO Employee
VALUES
(
	N'E0002',
	N'D0002',
	N'Tran',
	N'Vinh',
	1,
	'6-12-1986',
	N'0987658901',
	N'tranvinh@fpt.aptech.ac.vn',
	N'Cau Giay, Ha Noi',
	N'Employee'
)
GO
-- END --

GO

-- ACCOUNT TABLE --
INSERT INTO Account
VALUES
(
	'admin',
	'E0000',
	'e10adc3949ba59abbe56e057f20f883e',
	0
)
GO
INSERT INTO Account
VALUES
(
	'hr',
	'E0001',
	'e10adc3949ba59abbe56e057f20f883e',
	0
)
GO
INSERT INTO Account
VALUES
(
	'interviewer',
	'E0002',
	'e10adc3949ba59abbe56e057f20f883e',
	0
)
GO
-- END --
GO

-- ROLE TABLE --
INSERT INTO [Role]
VALUES
(
	N'Administrator'
)
GO
INSERT INTO [Role]
VALUES
(
	N'HR Group'
)
GO
INSERT INTO [Role]
VALUES
(
	N'Interviewer'
)
-- END --

GO

-- ROLE_OF_ACCOUNT TABLE --
INSERT INTO RoleOfAccount
VALUES
(
	N'admin',
	N'Administrator'
)
GO
INSERT INTO RoleOfAccount
VALUES
(
	N'hr',
	N'HR Group'
)
GO
INSERT INTO RoleOfAccount
VALUES
(
	N'interviewer',
	N'Interviewer'
)
GO
-- END --

GO

-- VACANCY TABLE --
GO
-- END --

GO

-- APPLICANT TABLE --
INSERT INTO Applicant
VALUES
(
	N'A0001',
	N'Trinh',
	N'Tuan',
	1,
	N'10-20-1987',
	N'0248467393',
	'tuan@gmail.com',
	'Cao Bang',
	99,
	300,
	N'English, Japanness',
	1,
	N'Cao đẳng',
	'4-6-2012',
	N'- Lap trinh duoc nhieu ngon ngu JAVA, .NET ...',
	N'Doat giai nhi cuoc thi BEst Coder tai Aptech FPT'
)
GO
INSERT INTO Applicant
VALUES
(
	N'A0002',
	N'John',
	N'Hart',
	1,
	'2-8-1991',
	N'029876398',
	N'hart@gmail.com',
	N'HCM City',
	99,
	800,
	N'English, French, VietNammess',
	2,
	N'University',
	N'4-8-2012',
	N'- Nhanh nhen, giao tiep tot, het minh voi cong viec',
	N'khong co'
)
GO
INSERT INTO Applicant
VALUES
(
	N'A0003',
	N'Nguyen',
	N'Phuong Ha',
	0,
	N'2-5-1995',
	N'098764820',
	N'haphuong@gmail.com',
	N'Ha Noi',
	99,
	500,
	N'English, Japanness, French, Spanish, Chinness',
	1,
	N'Dai hoc',
	'4-7-2012',
	N'- Noi duoc nhieu thu tieng, giao tiep tot',
	N''
)
GO
-- END --

GO

-- INTERVIEW TABLE --
INSERT INTO Interview
VALUES
(
	N'I0001',
	N'E0002',
	N'A0001',
	N'V0004',
	0,
	99,
	'4-22-2012 8:0:0',
	'4-22-2012 9:30:0'
)
GO
INSERT INTO Interview
VALUES
(
	N'I0002',
	N'E0002',
	N'A0002',
	N'V0001',
	0,
	99,
	'4-22-2012 10:0:0',
	'4-22-2012 11:30:0'
)
GO
INSERT INTO Interview
VALUES
(
	N'I0003',
	N'E0003',
	N'A0003',
	N'V0003',
	0,
	99,
	'4-26-2012 13:0:0',
	'4-26-2012 14:30:0'
)
GO
-- END --